.cover{
    background-image: url(../img/aspirantes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
}
#aux{
    width: 100%;
    margin: 25%;
}
#req #his {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}
#title1{
    text-align: center;
    color: green;
    font-size: 40px
}
#req{
    width: 60%;
    margin-left: 20%;
}
#res{
    display: flex;
}
#title2{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 35px
}
#req #his2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 17px;
    text-align: left;
}